{% extends 'base.html' %}

{% block title %} - Genres{% endblock %}

{% block content %}
<div class="row mb-4">
    <h1>Genres</h1>
</div>

<div class="row">
    <div class="card-columns">
        {% for genre in genres %}
            {% if genre.name != "N/A"%}
                <a href="{{ url_for('genres.genre', genre=genre.name.lower()) }}"
                   style="text-decoration:none; color: inherit;">
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title">{{ genre.name }}</h5>
                        </div>
                    </div>
                </a>
            {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}

