{% extends 'base.html' %}

{% block content %}
<div class="row mb-4">
    <h1>Genres</h1>
</div>

<div class="row">
    <div class="card-columns">
        {% for genre in genres %}
        <a href="{{ url_for('genres.genre', genre=genre.lower()) }}"
           style="text-decoration:none; color: inherit;">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">{{ genre }}</h5>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>

{% endblock %}

