{% extends 'base.html' %}

{% block title %} - Genres{% endblock %}

{% block content %}

<div class="row mb-4">
  <h1>{{ request.path.split('/')[-1].title() }}</h1>
</div>

<table class="table">
  <tbody>
  {% for p in products %}
  <tr>
    <td>
      <img src="{{ p.image }}" style="max-height:200px;">
    </td>
    <td>
      <p class="font-weight-bold">
        <a href="{{ url_for('product.index', product_id=p.id) }}"> {{ p.name }} </a>
      </p>
      <p> {{ p.description }}</p>
      <p> Actors: {{ p.actors }}</p>
      <p> Rating: {{p.rating}} <i class="fa fa-star"></i></p>
      <p>
        Genres:
        {% for genre in p.genres.split(',') %}
        <span class="badge badge-dark">{{ genre }}</span>
        {% endfor %}
      </p>
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
