{% extends 'base.html' %}

{% block title %} - About{% endblock %}

{% block content %}
<h1>About NotFlix </h1>

<p>
    You have just met NotFlix, a free movie database and recommendation website.<br>

    This website is simply a side project, that aims at displaying a fixed dataset of movies,
    and provide recommendations about other movies to watch.
</p>

<h2>Why NotFlix?</h2>
<p>
    The short answer is: for fun! I love working on tech side projects, mixing some Machine Learning
    and Full Stack development. I thought I could learn a lot while working on a movie recommendation
    website using existing data for training Machine Learning algorithms.<br>

    I saw many posts and tutorials about creating movie recommendations algorithms, but few of them teach
    how to run them in production. It's a very different challenge since users won't want to wait 10 seconds
    before your fancy very-deep-learning algorithm outputs its results. It's all about finding a trade off
    between accuracy and computation complexity.<br>

    I also wanted to work on a larger python project, involving multiple packages and modules, and see how
    I could organize all my code to keep it simple and readable. It's definitely not perfect yet, but I am
    working on it as I go.
</p>


<h2>Technical Stack</h2>

<p>Here are the technologies I used so far:</p>

<div class="col-sm-6">
    <table class="table table-responsive-sm">
        <tbody>
        <tr>
            <th>Programming Languages</th>
            <td>
                <ul>
                    <li>Python 3</li>
                    <li>HTML & CSS using Bootstrap v4</li>
                </ul>
            </td>
        </tr>
        <tr>
            <th>Machine Learning</th>
            <td>
                <ul>
                    <li>scikit-learn</li>
                    <li>keras</li>
                    <li>gensim</li>
                </ul>
            </td>
        </tr>
        <tr>
            <th>Databases</th>
            <td>
                <ul>
                    <li>Postgres</li>
                    <li>Redis</li>
                </ul>
            </td>
        </tr>
        <tr>
            <th>Deployment</th>
            <td>
                <ul>
                    <li>Docker</li>
                    <li>Nginx Reverse Proxy</li>
                    <li>circle-ci</li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>


{% endblock %}
