{% extends 'base.html' %}

{% block title %} - Your likings{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-8">
        <h1>Help us know you better</h1>
        <p>Please tell us which genres you like the most:</p>
    </div>
</div>

<div class="row justify-content-md-center">
    <form class="form-check-inline w-100" action="{{ url_for('you.taste') }}" method="post">
        {% for genre in genres %}
            {% if genre.name != "N/A"%}
                {% if loop.first %}<div class="col">{% endif %}
                    <div class="checkbox">
                        <label>
                            <input value="{{ genre.id }}"
                                   id="genre-{{ genre.id }}"
                                   type="checkbox"
                                   name="genre"
                                   {% if user_genres and genre.id in user_genres %} checked {% endif %}
                            > {{ genre.name }}
                        </label>
                    </div>
            {% if loop.index % 6 == 0 %}</div><div class="col">{% endif %}
            {% endif %}
        {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>

{% endblock %}
