{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-sm">
        <h1> {{ active_product.name }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        <img class="card-img-top" src="{{ active_product.image }}">
    </div>
    <div class="col-sm-3">
        <h5>Description</h5>
        <p>{{ active_product.description }}</p>
        <h5>Genres</h5>
        <p>{{ active_product.genres }}</p>
        <h5>Rating</h5>
        {% for i in range(4) %}
        <span class="fa fa-star checked"></span>
        {% endfor %}
    </div>
</div>

<div class="row mt-5">
    <div class="col-sm">
        <h2>Recommendations</h2>
    </div>
</div>

{% for r in recommendations %}
    <div class="row mt-3">
        <div class="col-sm">
            <h4>{{ r.display_name }}</h4>

            <div class="card-deck">
            {% for i in r.products %}
                <a href="{{ url_for('product.index', product_id=i.id) }}"
                    style="text-decoration:none; color: inherit;">
                <div class="card" style="width: 10rem;">
                    <img class="card-img-top" src="{{i.image}}" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title"> {{ i.name }}</h5>
                      <p class="card-text">
                          {% for i in range(4) %}
                          <span class="fa fa-star checked"></span>
                          {% endfor %}
                      </p>
                    </div>
                </div>
                </a>
            {% endfor %}
            </div>
        </div>
    </div>
{% endfor %}

{% endblock %}

